<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aplikasi Keluhan Desa">
  <link rel="apple-touch-icon" href="./icons/icon-192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
 
  <title>Keluhan Desa</title>
</head>
<body>
  <header class="app-bar">
      <div class="background_header">
        <div class="app-bar__brand">
            <h1>Selamat datang di aplikasi Keluhan Desa</h1>
            <h2>Solusi pengaduan cepat dan tepat</h2>
        </div>
        <div class="sign_in">
            <a href="#/validasi-masuk">
                <button>
                    <img src="./sign_in.png" alt="">
                    <p>Masuk</p>
                </button>
            </a>
        </div>
    </div>    
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/now-playing">Now Playing</a></li>
        <li><a href="#/upcoming">Upcoming</a></li>
      </ul>
    </nav>
    <div id="navigationDrawerSatu" class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
  </header>
  <main id="mainContent">
  </main>
  <footer>
    <p>All Rights Reserved © 2024</p>
    <p class="grup">Grup Capstone</p>
  </footer>
</body>
</html>
