<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Aplikasi Keluhan Desa">
  <link rel="apple-touch-icon" href="./icons/icon-192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
 
  <title>Keluhan Desa</title>
</head>
<body>
  <header class="app-bar">
      <div class="background_header">
        <div class="app-bar__brand">
            <h1>Selamat datang di aplikasi Keluhan Desa</h1>
            <h2>Solusi pengaduan cepat dan tepat</h2>
        </div>
        <div class="user-profile">
        <!-- Ganti dengan konten profil pengguna setelah login -->
        <p id="userProfile"></p>
      </div>
    </div>    
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li>
          <a href="#/"><img src="./home.png" alt=""> Beranda</a>
          <hr>
          <a href="#/"><img src="./home.png" alt=""> Beranda</a>
        </li>
      </ul>
    </nav>
    <div id="navigationDrawerSatu" class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
  </header>
  <main id="mainContent">
  </main>
  <footer>
    <p>All Rights Reserved © 2024</p>
    <p class="grup">Grup Capstone</p>
  </footer>

   <script>
    // Ambil data pengguna dari localStorage setelah login
    const user = JSON.parse(localStorage.getItem('user'));

    // Ambil elemen profil pengguna dari HTML
    const userProfile = document.getElementById('userProfile');

    // Periksa apakah pengguna telah login
    if (user) {
      // Tampilkan nama pengguna sebagai profil setelah login
      userProfile.textContent = user.body.nama; // Ganti 'nama' dengan properti yang sesuai
    } else {
      // Jika pengguna belum login, tampilkan tombol Masuk
      userProfile.innerHTML = `<div class="sign_in"><a href="#/masuk"><img src="./sign_in.png" alt=""> Masuk</a></div>`;
    }
  </script>
</body>
</html>
