<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Aplikasi Keluhan Desa" />
    <link rel="apple-touch-icon" href="./icons/icon-192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link rel="icon" href="./favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Keluhan Desa</title>
  </head>

  <body>
    <header>
      <admin-header></admin-header>
    </header>

    <div class="content">
      <div class="left-side">
        <h3>Menu</h3>
        <a href="#">
          <div class="btn">Data Pengguna Umum</div>
        </a>
        <a href="#">
          <div class="btn">Data Kepala Desa</div>
        </a>
      </div>
      <div class="content-side">
        <h3>Content</h3>
      </div>
    </div>

    <main id="mainContent">
    </main>
    <footer>
      <admin-footer></admin-footer>
    </footer>
  </body>
</html>
