@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EAEAEA;
    min-height: 100vh;
}

header {
    display: inline;
}


/* App Bar */

.jumbotron {
    background-image: url('../public/background_header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron-title {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    
    align-items: center;
    padding: 2rem;
    min-height: 125px;
    max-width: 1200px;

    color: white;
}

.sign_in img {
    min-width: 35px;
    max-width: 5%;
}

.right-side {
    min-width: 50px;
    flex-grow: 1;
    justify-content: end;
}

.app-bar__menu {
    padding: 0px 0px 0px 20px;
    min-height: 55px;
    margin-left: -10px;
    width: 20%;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: #29729B;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.11);

    color: white;
    font-size: 150%;
    font-weight: bold;
    z-index: 11;
}

.app-bar__menu button {
    border: none;
    background-color: #29729B;
    color: white;
    font-size: 35px;
    min-height: 44px;
    min-width: 44px;
    max-width: 44px;
    max-height: 44px;
    font-weight: bold;
}

.app_bar_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}


/* Nav */

nav {
    min-height: 3rem;
    background-color: #1a4f6e;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav button {
    height: 44px;
    width: 44px;
    border-radius: 0.3rem;
    border: none;
    background-color: #2a3c57;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    min-height: 55px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    background-color: #29729B;
}

.nav li {
    text-decoration: none;
    list-style: none;

    display: flex;
    justify-content: center;

    min-width: 150px;
    line-height: 44px;
    padding-inline: 1rem;

    border-radius: 7px;
    background-color: #4790ba;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.11);
}

.nav li:hover {
    background-color: #69a8cc;
    box-shadow: 3px 3px 10px rgba(160, 238, 255, 0.2);
    transition: all ease-in-out 150ms;
    position: relative;
    z-index: 1;
    bottom: 1px;
}

.nav li a {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
    text-decoration: none;

    color: white;
    font-weight: 500;
    font-size: 120%;
}

#drawer {
    top: 55px;
    padding-block-end: 0.5rem;
    border-bottom-right-radius: 10px;
    width: max-content;
    position: absolute;
    transform: translate(-975px, 0);
    transition: transform 0.4s ease-in-out;
    background-color: #164058;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.263);
}

#drawer.open {
    transform: translate(0, 0);
}

#drawer ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0 16px;
}

#drawer li {
    padding: 5px;
    border-bottom: #718ea16b solid 1px;
}

#drawer a {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

#drawer a:hover {
    color: #718ea1;
}

#drawer li:hover {
    background-color: #ffffff18;
}

.nav__list {
    max-width: calc(100%);
    text-align: left;
}

.nav__list li {
    text-decoration: none;
    list-style: none;

    display: flex;
    justify-content: start;

    min-width: 150px;
    line-height: 44px;
}

.nav__list li a {
    display: flex;
    justify-content: start;
    gap: 0.5rem;

    width: 100%;
    text-decoration: none;

    color: white;
    font-weight: 500;
}


/* Body */

main {
    padding: 32px;
    flex: 1;
}

.content {
    margin: 0 auto;
    min-height: 100%;
    max-width: 1200px;
}

.content .content__heading {
    font-weight: bold;
    text-align: center;
}

.menu {
    margin-top: 17px;
    background-color: white;
    box-shadow: 0px 4px 4px 2px #0000003d;
    padding: 20px;
    border-radius: 4px;
}


.isi_menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 20px;
}

.isi_menu a{
    width: 100%;

.menu .content__subheading {
    margin-bottom: 20px;
}

.aksi .belum {
    color: #FF0000;
    background-color: #EDEDED;
    border: none;
    border-radius: 10rem;
    width: 100%;
    height: 45px;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

.aksi .sudah {
    color: white;
    background-color: #3481AC;
    border: none;
    border-radius: 17.5px;
    width: 100%;
    height: 45px;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

.aksi .batal {
    color: white;
    background-color: #FF0000;
    border: none;
    border-radius: 17.5px;
    width: 100%;
    height: 45px;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

.aksi .btn-masuk {
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 5rem;
    width: 100%;
    height: 45px;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
}


/* Form */
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.form form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    width: 100%;
}

.form form input {
    padding: 10px;
    border-radius: 4px;
    border: 0.1px solid #007ed844;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

.form form .role-container {
    justify-self: start;
    font-size: 10px;
}

.form form select {
    padding: 10px;
    border-radius: 4px;
    border: 0.1px solid #007ed844;
    box-shadow: 0px 4px 4px 2px #0000003d;
    color: #0000008f;
}

.form form input:focus {
    border: 1px solid #007DD8;
}

.form form .btn-masuk {
    background-color: #34AC39;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

.form form .btn-masuk:hover {
    background-color: #2d9230;
}

.form p{
    font-size: 12px;
}

.form p a{
    font-size: 14px;
}

.batal {
    color: #FF0000;
    background-color: #EDEDED;
    border: none;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    box-shadow: 0px 4px 4px 2px #0000003d;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-confirm-class {
    background-color: green;
    color: white;
}

.btn-cancel-class {
    background-color: red;
    color: white;
}


.text-warning{
    color: #FF0000;
    font-size: 9px !important;
    margin-top: -10px;
}

.resize-textarea{
    resize: vertical;
    overflow: auto;
    padding: 10px;
    border-radius: 4px;
    border: 0.1px solid #007ed844;
    box-shadow: 0px 4px 4px 2px #0000003d;
}

.custom-file-input {
  display: none;
}

.custom-file-label {
  color: black;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: #00000075;
  border: 0.1px solid #007ed844;
  box-shadow: 0px 4px 4px 2px #0000003d;
  font-size: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.custom-file-input:checked + .custom-file-label::after {
  content: attr(data-file-name);
}

.daftar-pengaduan{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    background-color: #F4F4F4;
    box-shadow: 0px 4px 4px 2px #0000003d;
    border-radius: 4px;
    padding: 10px;
    font-weight: 600;
}

.daftar-pengaduan img{
    width: 50px;
    height: 50px;
}

.daftar-pengaduan .body-text-pengaduan{
    font-size: 12px;
}

#status{
    color: #FFA800;
}
/* Main */

/* Footer */

footer {
    text-align: center;
    background-color: #29729B;
    color: white;
    padding: 8px;
}