.tentang-tim {
    display: grid;
    gap: 3rem;
    max-width: 960px;
}

.item-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 400px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    justify-content: end;
}

.team-img-1 {
    background-image: url('https://cdn.prod.website-files.com/5e9aa66fd3886aa2b4ec01ca/656542eae3674ef944805d5d_make%20money%20hacking.webp');
}

.team-img-2 {
    background-image: url('https://raw.githubusercontent.com/akbarvideoeditor03/Aplikasi-Keluhan-Desa/master/fotoTim/Ahmad-Akbar.jpg');
}

.team-img-3 {
    background-image: url('https://wallpapers.com/images/hd/hacker-pictures-4xhiey685feo8stu.jpg');
}

.tentang-kami {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

