.tentang-tim {
    display: grid;
    gap: 3rem;
    max-width: 960px;
}

.item-card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 400px;

    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    justify-content: end;
}

.team-img-1 {
    background-image: url('../public/fotoTim/t1.jpg');
}

.team-img-2 {
    background-image: url('../public/fotoTim/t2.jpg');
}

.team-img-3 {
    background-image: url('../public/fotoTim/t3.jpg');
}

.tentang-kami {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

